 /* GENERAL STYLİNG */


 h2 {
     font-size: 28px;
     font-weight: 700;
 }

 h3 {
     font-size: 18px;
     font-weight: 500;
 }

 h4 {
     font-size: 18px;
     font-weight: 500;
 }

 p {
     font-size: 14px;
 }

 /* NAVBAR */

 .navbar {
     border-bottom: #1886c7 1px solid;
 }

 .navbar .navbar-brand {
     color: #cc0000 !important;
     font-size: 25px;
 }

 .bg-dark {
     background-color: rgba(10, 10, 10, 0.4) !important;
 }

 .navbar .nav-item .nav-link {
     color: white;
     text-transform: uppercase;
     transition: color .30s ease;
 }

 .navbar .nav-item .nav-link:hover {
     color: #1886c7
 }

 /* HOME SECTİON */

 #homeSection {
     background: url('../images/home.jpg') no-repeat center center fixed;
     background-size: cover;
     height: 100vh;
 }

 #homeSection .overlay {
     background-color: rgb(0, 0, 0, .2);

 }

 #homeSection .row {
     height: 100vh;
 }

 #homeSection span {
     color: #1886c7;
 }

 #homeSection .form-group {}

 #homeSection .form-row {

     border-radius: 5px;
     background-color: rgba(100, 100, 100, 0.5);
 }

 #homeSection .input-group {
     background-color: white;
     border-radius: 5px;
 }

 #homeSection .form-control {
     border-color: white;
     border-radius: 5px;
 }

 #homeSection .form-control:focus {
     box-shadow: none;
 }

 #homeSection .btn-primary {
     width: inherit;
     background-color: #1886c7;
     padding-left: 30px;
     padding-right: 30px;
     border-radius: 5px;
 }

 #homeSection .btn-primary:hover {
     border-color: #1886f0;
     background-color: #1886f0;
 }

 #homeSection .btn-primary:focus {
     box-shadow: 0 0 0 0.1rem rgba(10, 100, 255, 0.5);
 }

 /* FEATURES SECTİON */

 #featuresSection {
     background-color: #333;
     color: white;
 }

 #featuresSection .fa {
     font-size: 60px;
 }

 /* OUR HISTORY SECTION */

 #historySection h2 {
     border-left: 8px solid #1886c7;
     padding-left: 20px;
 }

 #historySection .col-md-6 {
     display: inline;
 }

 #historySection .btn-outline-primary {
     position: absolute;
     bottom: 0;
 }

 /* TEAM SECTION */

 #teamSection .card {
     border: none;


 }

 #teamSection .fa {
     font-size: 22px;
 }

 /* DOWNLOAD SECTİON */

 /* WHAT WE DO SECTION */
 #downloadSection {
     background-color: #777;
     color: white;
 }

 #whatWeDoSection {
     background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url('../images/code.jpg');
     background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;

 }

 #whatWeDoSection h2 {
     color: #1886c7;
 }


 /* CASE STUDY SECTİON */

 #caseStudySection {
     background-color: beige;
     margin-bottom: 50px;
 }

 .caseArea {
     margin: 75px -100px 50px 100px;
     padding: 30px 30px;
     background-color: #fff;
     z-index: 100;
     min-height: 350px;
     line-height: 28px;
     position: relative;

 }

 .caseImage {
     margin-top: 50px;

     z-index: 50;
 }

 #caseStudySection h3 {
     margin-top: 25px;
     margin-bottom: 25px;
     font-size: 24px;
 }

 #caseStudySection .fa {
     color: #1886c7
 }

 /* PORTFOLİO SECTİON */
 #portfolioSection .col-md-3 {
     padding-left: 0;
     padding-right: 0;
 }

 #portfolioSection h4 {
     font-size: 24px;
     font-weight: 400;
 }

 #portfolioSection .fa {
     font-size: 24px;
     margin-bottom: 20px;
 }

 #portfolioSection p {
     font-size: 16px;
     font-weight: 300px;
 }

 .imageContainer {
     position: relative;
     cursor: pointer;
 }

 .imageOverlay {
     position: absolute;
     top: 0;
     bottom: 0;
     right: 0;
     left: 0;
     height: 100%;
     width: 100%;
     background-color: #1886c7;
     opacity: 0;
     transition: 1s ease;

 }

 .imageContainer:hover .imageOverlay {
     opacity: .5;
 }

 .imageText {
     color: white;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     text-align: center;

 }

 /* TESTIMONIALS SECTİON */
 .quote {
     color: #1886c7;
 }

 #testimonialsSection {
     background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url('../images/charles-forerunner-378-unsplash.jpg');
     background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;

 }

 .quote {
     color: rgba(24, 134, 199, .6);
     margin-bottom: 30px;
 }

 .carousel-item img {
     opacity: .2;
 }

 .blockquote-footer {
     color: #1886c7;
 }

 .blockquote p {
     color: white;
 }

 /* CONTACT SECTİON */
 #contactSection {
     background-color: #333;
     color: white;
 }

 #contactSection h2 {
     font-size: 26px;
     font-weight: 400;
     color: #1886c7;

 }

 #contactSection .input-group-addon {

     background-color: #1886c7;
     width: 50px;

 }

 #contactSection .input-group-addon i {
     font-size: 20px;
     margin-top: 50%;
     margin-left: 50%;
     transform: translate(-50%, -50%);
     text-align: center;
     color: white;
 }

 #contactSection .btn {
     border-radius: 0;
 }

 #contactSection textarea {
     grid-row: 5;
 }

 /* FOOTER SECTİON */
 #main-footer {
     color: white;
     background-color: black;
 }

 /* MEDİA QUERYS */

 @media screen and (max-width:1200px) {}

 @media screen and (max-width:992px) {
     .display-3 {
         font-size: 48px;
     }

     #historySection .btn {
         position: relative;
     }

     .rightHistory,
     .leftHistory {
         text-align: center;
     }

     #caseStudySection .caseArea {

         margin-top: 40px;
         margin-bottom: 0;
         margin-right: 0;
         margin-left: 0;
     }

     #caseStudySection .caseImage {

         margin-top: 20px;
         text-align: center;
     }
 }

 @media screen and (max-width:768px) {}

 @media screen and (max-width:576px) {
     .display-3 {
         font-size: 32px;
     }

     #whatWeDoSection h2 {
         font-size: 22px;
     }
 }
